In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({"key": ["K0", "K1", "K2", "K3"], "value": [0, 1, 2, 3]})
df2 = pd.DataFrame({"key": ["K0", "K1", "K2", "K4"], "value": [0, 1, 2, 7]})

# Print the dataframes
print(df1)
print(df2)

  key  value
0  K0      0
1  K1      1
2  K2      2
3  K3      3
  key  value
0  K0      0
1  K1      1
2  K2      2
3  K4      7

In [3]:
bin = df1["key"] != df2["key"]
df1.append(df2[bin])

/var/folders/9c/z5w432ls60300pg8dcrpkhkr0000gn/T/ipykernel_48166/2428309858.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append(df2[bin])

  key  value
0  K0      0
1  K1      1
2  K2      2
3  K3      3
3  K4      7

In [4]:
df1 = pd.DataFrame({"key": ["K0", "K1", "K2", "K3"], "value": [0, 1, 2, 3]})
df2 = pd.DataFrame({"key": ["K0", "K1", "K2", "K4"], "value1": [0, 1, 2, 7]})

# Print the dataframes
print(df1)
print(df2)

  key  value
0  K0      0
1  K1      1
2  K2      2
3  K3      3
  key  value1
0  K0       0
1  K1       1
2  K2       2
3  K4       7

In [5]:
df1.merge(df2, how="outer")
# df1.merge(df2, how='outer')

  key  value  value1
0  K0    0.0     0.0
1  K1    1.0     1.0
2  K2    2.0     2.0
3  K3    3.0     NaN
4  K4    NaN     7.0

In [6]:
# Create a sample DataFrame
df = pd.DataFrame({"B": [4, 5, 6], "C": [7, 8, 9], "A": [1, 2, 3]})

# Sort the columns by name (ascending)
df = df.sort_index(axis=1, ascending=False)

print(df)

   C  B  A
0  7  4  1
1  8  5  2
2  9  6  3