In [33]:

import sys

sys.path.append('..')
sys.path.append('../..')
sys.path.append('../../..')
import main as m

In [34]:

m.reload_module(m)

In [35]:

forex_dataset = m.ForexDataset()
data = forex_dataset.preprocess()

[*********************100%***********************]  1 of 1 completed

In [38]:
data.head()

,Open,High,Low,Close,Adj Close,Volume,macd,boll_ub,boll_lb,rsi_30,dx_30,close_30_sma,close_60_sma
Datetime,,,,,,,,,,,,,
2023-02-13 00:00:00+00:00,1.068376,1.068376,1.068376,1.068376,1.068376,0,0.000000,0.0,0.0,0.00000,0.0,0.0,0.0
2023-02-13 00:01:00+00:00,1.068262,1.068262,1.068262,1.068262,1.068262,0,-0.000001,0.0,0.0,0.00000,0.0,0.0,0.0
2023-02-13 00:02:00+00:00,1.068034,1.068034,1.068034,1.068034,1.068034,0,-0.000005,0.0,0.0,0.00000,0.0,0.0,0.0
2023-02-13 00:03:00+00:00,1.068034,1.068034,1.068034,1.068034,1.068034,0,-0.000008,0.0,0.0,0.00000,0.0,0.0,0.0
2023-02-13 00:04:00+00:00,1.068148,1.068148,1.068148,1.068148,1.068148,0,-0.000009,0.0,0.0,26.48947,0.0,0.0,0.0

In [39]:
data.tail()

,Open,High,Low,Close,Adj Close,Volume,macd,boll_ub,boll_lb,rsi_30,dx_30,close_30_sma,close_60_sma
Datetime,,,,,,,,,,,,,
2023-02-17 22:25:00+00:00,1.069747,1.069747,1.069747,1.069747,1.069747,0,-0.000005,1.069747,1.069747,48.792955,2.878799,1.069736,1.069789
2023-02-17 22:26:00+00:00,1.069747,1.069747,1.069747,1.069747,1.069747,0,-0.000004,1.069747,1.069747,48.792955,2.814742,1.069740,1.069791
2023-02-17 22:27:00+00:00,1.069747,1.069747,1.069747,1.069747,1.069747,0,-0.000004,1.069747,1.069747,48.792955,2.752820,1.069744,1.069791
2023-02-17 22:28:00+00:00,1.069747,1.069747,1.069747,1.069747,1.069747,0,-0.000003,1.069747,1.069747,48.792955,2.692962,1.069744,1.069789
2023-02-17 22:29:00+00:00,1.069747,1.069747,1.069747,1.069747,1.069747,0,-0.000003,1.069747,1.069747,48.792955,2.635100,1.069744,1.069786

In [44]:

corr_pearson = data.corr(method='pearson')
corr_pearson

,Open,High,Low,Close,Adj Close,Volume,macd,boll_ub,boll_lb,rsi_30,dx_30,close_30_sma,close_60_sma
Open,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,0.127860,0.097439,0.096816,0.175595,-0.085045,0.096356,0.103046
High,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,0.127860,0.097439,0.096816,0.175595,-0.085045,0.096356,0.103046
Low,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,0.127860,0.097439,0.096816,0.175595,-0.085045,0.096356,0.103046
Close,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,0.127860,0.097439,0.096816,0.175595,-0.085045,0.096356,0.103046
Adj Close,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,0.127860,0.097439,0.096816,0.175595,-0.085045,0.096356,0.103046
Volume,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
macd,0.127860,0.127860,0.127860,0.127860,0.127860,NaN,1.000000,0.020551,0.021315,0.723578,0.126275,0.026663,0.016255
boll_ub,0.097439,0.097439,0.097439,0.097439,0.097439,NaN,0.020551,1.000000,0.999933,0.355481,0.101013,0.810379,0.569637
boll_lb,0.096816,0.096816,0.096816,0.096816,0.096816,NaN,0.021315,0.999933,1.000000,0.355598,0.097906,0.810348,0.569233
rsi_30,0.175595,0.175595,0.175595,0.175595,0.175595,NaN,0.723578,0.355481,0.355598,1.000000,0.168727,0.348220,0.274972
dx_30,-0.085045,-0.085045,-0.085045,-0.085045,-0.085045,NaN,0.126275,0.101013,0.097906,0.168727,1.000000,0.125170,-0.193737
close_30_sma,0.096356,0.096356,0.096356,0.096356,0.096356,NaN,0.026663,0.810379,0.810348,0.348220,0.125170,1.000000,0.701770
close_60_sma,0.103046,0.103046,0.103046,0.103046,0.103046,NaN,0.016255,0.569637,0.569233,0.274972,-0.193737,0.701770,1.000000

In [45]:

corr_kendall = data.corr(method='kendall')
corr_kendall

,Open,High,Low,Close,Adj Close,Volume,macd,boll_ub,boll_lb,rsi_30,dx_30,close_30_sma,close_60_sma
Open,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,0.106170,0.919658,0.920490,0.128955,-0.078869,0.917722,0.887107
High,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,0.106170,0.919658,0.920490,0.128955,-0.078869,0.917722,0.887107
Low,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,0.106170,0.919658,0.920490,0.128955,-0.078869,0.917722,0.887107
Close,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,0.106170,0.919658,0.920490,0.128955,-0.078869,0.917722,0.887107
Adj Close,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,0.106170,0.919658,0.920490,0.128955,-0.078869,0.917722,0.887107
Volume,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
macd,0.106170,0.106170,0.106170,0.106170,0.106170,NaN,1.000000,0.074364,0.078711,0.610566,0.072981,0.052963,0.011586
boll_ub,0.919658,0.919658,0.919658,0.919658,0.919658,NaN,0.074364,1.000000,0.900263,0.072840,-0.056074,0.944479,0.913345
boll_lb,0.920490,0.920490,0.920490,0.920490,0.920490,NaN,0.078711,0.900263,1.000000,0.076530,-0.098262,0.939379,0.901473
rsi_30,0.128955,0.128955,0.128955,0.128955,0.128955,NaN,0.610566,0.072840,0.076530,1.000000,0.077683,0.058244,0.026485
dx_30,-0.078869,-0.078869,-0.078869,-0.078869,-0.078869,NaN,0.072981,-0.056074,-0.098262,0.077683,1.000000,-0.076220,-0.081885
close_30_sma,0.917722,0.917722,0.917722,0.917722,0.917722,NaN,0.052963,0.944479,0.939379,0.058244,-0.076220,1.000000,0.940340
close_60_sma,0.887107,0.887107,0.887107,0.887107,0.887107,NaN,0.011586,0.913345,0.901473,0.026485,-0.081885,0.940340,1.000000

In [46]:

corr_spearman = data.corr(method='spearman')
corr_spearman

,Open,High,Low,Close,Adj Close,Volume,macd,boll_ub,boll_lb,rsi_30,dx_30,close_30_sma,close_60_sma
Open,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,0.156327,0.987941,0.988336,0.188738,-0.117188,0.988668,0.980089
High,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,0.156327,0.987941,0.988336,0.188738,-0.117188,0.988668,0.980089
Low,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,0.156327,0.987941,0.988336,0.188738,-0.117188,0.988668,0.980089
Close,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,0.156327,0.987941,0.988336,0.188738,-0.117188,0.988668,0.980089
Adj Close,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,0.156327,0.987941,0.988336,0.188738,-0.117188,0.988668,0.980089
Volume,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
macd,0.156327,0.156327,0.156327,0.156327,0.156327,NaN,1.000000,0.108775,0.116993,0.801255,0.103885,0.079113,0.017623
boll_ub,0.987941,0.987941,0.987941,0.987941,0.987941,NaN,0.108775,1.000000,0.983656,0.108816,-0.084447,0.994949,0.989082
boll_lb,0.988336,0.988336,0.988336,0.988336,0.988336,NaN,0.116993,0.983656,1.000000,0.115585,-0.146131,0.993104,0.983194
rsi_30,0.188738,0.188738,0.188738,0.188738,0.188738,NaN,0.801255,0.108816,0.115585,1.000000,0.115087,0.088117,0.040451
dx_30,-0.117188,-0.117188,-0.117188,-0.117188,-0.117188,NaN,0.103885,-0.084447,-0.146131,0.115087,1.000000,-0.115056,-0.123121
close_30_sma,0.988668,0.988668,0.988668,0.988668,0.988668,NaN,0.079113,0.994949,0.993104,0.088117,-0.115056,1.000000,0.994082
close_60_sma,0.980089,0.980089,0.980089,0.980089,0.980089,NaN,0.017623,0.989082,0.983194,0.040451,-0.123121,0.994082,1.000000